.about .article-title { 
  margin-bottom: 15px; 
}

.about-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

.about-text p { 
  margin-bottom: 15px; 
}

/* Service Section */
.service { 
  margin-bottom: 35px; 
}

.service-title { 
  margin-bottom: 20px; 
}

.service-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.service-item {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 20px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  z-index: 1;
}

.service-item::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}

.service-icon-box { 
  margin-bottom: 10px; 
}

.service-icon-box img { 
  margin: auto; 
}

.service-content-box { 
  text-align: center; 
}

.service-item-title { 
  margin-bottom: 7px; 
}

.service-item-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

/* Testimonials Section */
.testimonials { 
  margin-bottom: 30px; 
}

.testimonials-title { 
  margin-bottom: 20px; 
}

.testimonials-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin: 0 -15px;
  padding: 25px 15px;
  padding-bottom: 35px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

.testimonials-item {
  min-width: 100%;
  scroll-snap-align: center;
}

.testimonials-avatar-box {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(15px, -25px);
  background: var(--bg-gradient-onyx);
  border-radius: 14px;
  box-shadow: var(--shadow-1);
}

.testimonials-item-title { 
  margin-bottom: 7px; 
}

.testimonials-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Clients Section */
.clients { 
  margin-bottom: 15px; 
}

.clients-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin: 0 -15px;
  padding: 25px;
  padding-bottom: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 25px;
}

.clients-item {
  min-width: 50%;
  scroll-snap-align: start;
}

.clients-item img {
  width: 100%;
  filter: grayscale(1);
  transition: var(--transition-1);
}

.clients-item img:hover { 
  filter: grayscale(0); 
}

/* Responsive About Styles */
@media (max-width: 480px) {
  .about-text {
    font-size: var(--fs-7);
  }
  
  .service-list {
    gap: 15px;
  }
  
  .service-item {
    padding: 15px;
  }
  
  .testimonials-list {
    gap: 10px;
    padding: 20px 10px;
  }
  
  .clients-list {
    padding: 20px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .about .article-title { 
    margin-bottom: 20px; 
  }
  
  .about-text { 
    margin-bottom: 40px; 
  }
  
  .service-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
    padding: 30px;
  }
  
  .service-icon-box {
    margin-bottom: 0;
    margin-top: 5px;
  }
  
  .service-content-box { 
    text-align: left; 
  }
  
  .testimonials-title { 
    margin-bottom: 25px; 
  }
  
  .testimonials-list {
    gap: 30px;
    margin: 0 -30px;
    padding: 30px;
    padding-bottom: 35px;
  }
  
  .content-card {
    padding: 30px;
    padding-top: 25px;
  }
  
  .testimonials-avatar-box {
    transform: translate(30px, -30px);
    border-radius: 20px;
  }
  
  .testimonials-avatar-box img { 
    width: 80px; 
  }
  
  .testimonials-item-title {
    margin-bottom: 10px;
    margin-left: 95px;
  }
  
  .testimonials-text {
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
  
  .clients-list {
    gap: 50px;
    margin: 0 -30px;
    padding: 45px;
    scroll-padding-inline: 45px;
  }
  
  .clients-item { 
    min-width: calc(33.33% - 35px); 
  }
}

@media (min-width: 769px) {
  .clients-item { 
    min-width: calc(33.33% - 10px); 
  }
}

@media (min-width: 1025px) {
  .service-list {
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
  }
  
  .testimonials-item { 
    min-width: calc(50% - 15px); 
  }
  
  .clients-item { 
    min-width: calc(25% - 38px); 
  }
}